<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user" [formGroup]="form" (ngSubmit)="register()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input formControlName="firstName" [class.is-valid]="firstNameControl.valid"
                    [class.is-invalid]="firstNameControl.invalid" type="text" class="form-control form-control-user"
                    id="exampleFirstName" placeholder="First Name">
                  {{ firstNameControl.value }}

                  <ng-container *ngIf="firstNameControl.dirty && firstNameControl.invalid">
                    <div *ngIf="firstNameControl.errors.required">
                      First Name 為必填
                    </div>

                    <div *ngIf="firstNameControl.errors.minlength">
                      First Name 長度錯誤
                    </div>
                  </ng-container>

                </div>
                <div class="col-sm-6">
                  <input formControlName="lastName" [class.is-valid]="lastNameControl.valid"
                    [class.is-invalid]="lastNameControl.invalid" type="text" class="form-control form-control-user"
                    id="exampleLastName" placeholder="Last Name">

                  <ng-container *ngIf="lastNameControl.dirty && lastNameControl.invalid">
                    <div *ngIf="lastNameControl.errors.required">
                      Last Name 為必填
                    </div>

                    <div *ngIf="lastNameControl.errors.minlength">
                      Last Name 長度錯誤
                    </div>
                  </ng-container>

                </div>
              </div>
              <div class="form-group">
                <input type="email"
                  formControlName="email"
                  [class.is-valid]="emailControl.valid"
                  [class.is-invalid]="emailControl.invalid"
                  class="form-control form-control-user"
                  id="exampleInputEmail" placeholder="Email Address">

                <ng-container *ngIf="emailControl.dirty && emailControl.invalid">
                  <div *ngIf="emailControl.errors.required">
                    Email 為必填
                  </div>

                  <div *ngIf="emailControl.errors.email">
                    Email 格式錯誤
                  </div>
                </ng-container>
              </div>
              <div class="form-group row" formGroupName="passwordGroup">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input formControlName="password" type="text" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Password">
                </div>
                <div class="col-sm-6">
                  <input formControlName="repeatPassword" type="password" class="form-control form-control-user"
                    id="exampleRepeatPassword" placeholder="Repeat Password">
                </div>
              </div>

              <button (click)="addInterest()">+</button>

              <div class="form-group row" formArrayName="interests">
                <div class="col-sm-3" *ngFor="let item of interests.controls; let index = index">
                  <input [formControlName]="index" type="text" class="form-control form-control-user"
                    id="interests_{{ index }}">
                  <button (click)="removeInterest(index)">-</button>
                  <!-- <input
                    [formControl]="item"
                    type="text" class="form-control form-control-user"
                    id="interests_{{ index }}"
                  > -->
                </div>

                <!--
                <div class="col-sm-4">
                  <input
                    formControlName="0"
                    type="text" class="form-control form-control-user" id="exampleInputPassword"
                   >
                </div>
                <div class="col-sm-4">
                  <input
                  formControlName="1"

                    type="text" class="form-control form-control-user" id="exampleRepeatPassword"
                   >
                </div>
                <div class="col-sm-4">
                  <input
                  formControlName="2"

                    type="text" class="form-control form-control-user" id="exampleRepeatPassword"
                    >
                </div> -->
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
